* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "League Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-weight: 400;
}

body {
  font-family: inherit;
  font-weight: inherit;
  font-optical-sizing: auto;
  background: #0f172a;
  color: white;
  line-height: 1.6;
}
